body {
  background: #2ecc71;
  font-size: 62.5%;
}

.container {
  padding: 2em;
}

/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.translate_button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

.translate_button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.translate_button:hover {
  color: #2ecc71;
}


  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.translate_button:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
